<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.qureai.testcases.Conduit_Signup" />
			<class name="com.qureai.testcases.Conduit_Signin" />
			<class name="com.qureai.testcases.Conduit_CommentAndFollowArticle" />
			<class name="com.qureai.testcases.Conduit_ApplyFilterAndAct" />
			<class name="com.qureai.testcases.Conduit_CreateNewArticle" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
